@page "/"
@using WebAppBlazor.ViewModel
@using System.Security.Claims
@inject IIndexViewModel indexViewModel

@if (headers != null)
{
    <h1>Last 10 medias</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var header in headers)
            {
                <tr>
                    <td>@header.Name</td>
                    <td><p>@header.Description</p><p>@header.User.Nickname</p></td>
                </tr>
            }
        </tbody>
    </table>
}
else if (error != null)
{
    <h1>Error</h1>
    <h3>@error</h3>
}

@code {
    private IList<Dto.Api.Response.MediaHeader> headers;
    private string error = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            headers = await indexViewModel.GetLast10Async();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}