################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
bin
obj
packages
.vs
/FileHosterRepo/ProCode.FileHosterRepo.Api/appsettings.Staging.json
/FileHosterRepo/ProCode.FileHosterRepo.Api/appsettings.Production.json
/FileHosterRepo/ProCode.FileHosterRepo.Api/appsettings.Development.json
