@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu></NavMenu>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="User/Login" class="ml-md-auto">Login</a>|
        <a href="User/Register" class="ml-md-auto">Register</a>|
        <a href="Admin/Register" class="ml-md-auto">Admin Register</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
