@inherits LayoutComponentBase
@implements IDisposable
@inject IMenuService menuService

<div class="sidebar">
    <NavMenu></NavMenu>
</div>

<div class="main">
    <div class="top-row px-4">
        <div>
            <NavLink class="nav-link" href="User/Login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </div>&nbsp;|&nbsp;
        <div>
            <NavLink class="nav-link" href="User/Register">
                <span class="oi oi-pencil" aria-hidden="true"></span> Register
            </NavLink>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        menuService.OnChanged += MenuChanged;
    }

    void IDisposable.Dispose()
    {
        menuService.OnChanged -= MenuChanged;
    }

    private void MenuChanged(object sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }
}