@inherits LayoutComponentBase
@using ViewModel.User
@inject IUserViewModel UserViewModel

<div class="sidebar">
    <NavMenu></NavMenu>
</div>

<div class="main">
    @if (!UserViewModel.IsLoggedIn())
    {
        <div class="top-row px-4">
            <div>
                <NavLink class="nav-link" href="User/Login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                </NavLink>
            </div>&nbsp;|&nbsp;
            <div>
                <NavLink class="nav-link" href="User/Register">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Register
                </NavLink>
            </div>
        </div>
    }
    else
    {
        <div class="top-row px-4">
            <div>
                <NavLink class="nav-link" href="User/Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout @user?.Nickname
                </NavLink>
            </div>
        </div>
    }

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    private Common.Api.Response.User user;

    protected override async Task OnInitializedAsync()
    {
        if (UserViewModel.IsLoggedIn())
            user = await UserViewModel.GetInfoAsync();
    }
}
