@using WebAppBlazor.ViewModel.Admin
@using WebAppBlazor.ViewModel.User
@inject IAdminViewModel adminViewModel
@inject IUserViewModel userViewModel
@implements IDisposable
@inject IMenuService MenuService

@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment HostEnvironment

<div class="top-row pl-4 navbar navbar-dark">
    <div>
        <a class="navbar-brand" href="">File Hoster Repository</a>
        <div class="position-relative text-center text-white-50 align-top">
            @HostEnvironment.Environment
        </div>
    </div>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Search">
                <span class="oi oi-magnifying-glass" aria-hidden="true" title="Search"></span> Search
            </NavLink>
        </li>
        @if (userViewModel.IsLoggedIn())
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Media/">
                    <span class="oi oi-video" aria-hidden="true" title="Media"></span> Media
                </NavLink>
                <ul>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Media/Add">
                            <span class="oi oi-plus" aria-hidden="true" title="Add media"></span> Add
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Media/Last10">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Last 10
                        </NavLink>
                    </li>
                </ul>
            </li>
        }
        @if (adminViewModel.IsLoggedIn())
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Admin/Info">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Admin
                </NavLink>
                <ul>
                    <li>
                        <NavLink class="nav-link" href="Admin/Logout">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </NavLink>
                    </li>
                </ul>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        MenuService.OnChanged += MenuChanged;
    }

    void IDisposable.Dispose()
    {
        MenuService.OnChanged -= MenuChanged;
    }

    private async void MenuChanged(object sender, EventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }
}