@page "/Admin/Logout"
@using WebAppBlazor.ViewModel.Admin
@inject IAdminViewModel adminViewModel
@inject NavigationManager NavManager

@if (logoutMsg != null)
{
    <p>@logoutMsg</p>
}

@if (errorMessage != null)
{
    <p>Error: @errorMessage</p>
}

@code {
    private string logoutMsg;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (adminViewModel.IsLoggedIn())
            {
                logoutMsg = await adminViewModel.Logout();
            }
            else if (!adminViewModel.IsLoggedIn())
            {
                NavManager.NavigateTo("/Admin/Login");
            }
            else
            {
                NavManager.NavigateTo("/Admin/Info");
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
