@page "/admin/register"
@using WebAppBlazor.ViewModel.Admin
@inject IAdminViewModel adminViewModel
@inject NavigationManager NavManager
@inject IMenuService MenuService

<h1>Administrator register</h1>

<p>Welcome to the register page for Administrator. Only one administrator can be registered on this system.</p>

<div class="container">
    <div class="row">
        <div class="col-sm-4">Email:</div>
        <div class="col-sm-8"><input @bind="userRegister.Email" placeholder="enter email" /></div>
    </div>
    <div class="row">
        <div class="col-sm-4">Password:</div>
        <div class="col-sm-8"><input @bind="userRegister.Password" type="password" /></div>
    </div>
    <div class="row">
        <div class="col-sm-4">Confirm Password:</div>
        <div class="col-sm-8"><input @bind="confirmPassword" type="password" /></div>
    </div>
    <div class="row">
        <button @onclick="@RegisterAdminAsync">Register</button>
    </div>
</div>

@if (errorMessage != null)
{
<p>Error: @errorMessage</p>
}

@code {
    private Common.Api.Request.UserRegister userRegister = new Common.Api.Request.UserRegister();
    private string confirmPassword;
    private string errorMessage;

    private async Task RegisterAdminAsync()
    {
        try
        {
            if (await adminViewModel.RegisterAsync(userRegister, confirmPassword))
            {
                MenuService.NotifyChanged();
                NavManager.NavigateTo("/Admin/Info");
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
