@page "/Admin/RegisterAdmin"
@using WebAppBlazor.ViewModel.Admin
@inject IAdminViewModel adminViewModel
@inject NavigationManager NavManager

<h1>Administrator - Register</h1>

<p>Welcome to the register page for Administrator. Only one administrator can be registered on this system.</p>

<p>Email:<input @bind="email" placeholder="enter email" /></p>
<p>Password:<input @bind="password" type="password" /></p>
<p>Nickname:<input @bind="nickname" placeholder="enter nickname" /></p>
<button @onclick="@RegisterAdminAsync">Register</button>

@if (errorMessage != null)
{
    <p>Error: @errorMessage</p>
    <p>@DateTime.Now</p>
}

@code {
    private string email;
    private string password;
    private string nickname;
    private string errorMessage;

    private async Task RegisterAdminAsync()
    {
        var registerAdminData = new Dto.Api.Request.UserRegister
        {
            Email = email,
            Password = password,
            Nickname = nickname
        };
        try
        {
            var registerSuccessful = await adminViewModel.RegisterAsync(registerAdminData);
            if (registerSuccessful)
            {
                // Redirect to Info
                NavManager.NavigateTo("/Admin/InfoAdmin");
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Exception: {ex.GetType().Name}, Message: {ex.Message}";
        }
    }
}
