@page "/User/Logout"
@using WebAppBlazor.ViewModel.User
@inject IUserViewModel UserViewModel
@inject NavigationManager NavManager
@inject IMenuService MenuService

@if (logoutMsg != null)
{
    <p>@logoutMsg</p>
}

@if (errorMessage != null)
{
    <p>Error: @errorMessage</p>
}

@code {
    private string logoutMsg;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (UserViewModel.IsLoggedIn())
            {
                logoutMsg = await UserViewModel.LogoutAsync();
                MenuService.NotifyChanged();
            }
            else if (!UserViewModel.IsLoggedIn())
            {
                NavManager.NavigateTo("/Admin/Login");
            }
            else
            {
                NavManager.NavigateTo("/Admin/Info");
            }
            MenuService.NotifyChanged();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
